<div class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-primary">View Contact</p>
      <p class="fst-italic">
        It is not so much for its beauty that the forest makes a claim upon
        men's hearts, as for that subtle something, that quality of air that
        emanation from old trees, that so wonderfully changes and renews a weary
        spirit.
      </p>
    </div>
  </div>
</div>
<!--View Contact Details-->
<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-2">
      <img
        src="https://cdn-icons-png.flaticon.com/512/219/219983.png?w=360"
        alt=" user"
        class="contact-img-details"
      />
    </div>
    <div class="col-sm-6">
      <ul class="list-group align-item-center">
        <li class="list-group-item list-group-item-success">
          Name: <span class="fw-bold"></span>Name
        </li>
        <li class="list-group-item list-group-item-success">
          Email: <span class="fw-bold"></span>abc@gmail.com
        </li>
        <li class="list-group-item list-group-item-success">
          Mobile: <span class="fw-bold"></span>9842495838
        </li>
        <li class="list-group-item list-group-item-success">
          Company: <span class="fw-bold"></span>Name
        </li>
        <li class="list-group-item list-group-item-success">
          Title: <span class="fw-bold"></span>title
        </li>
        <li class="list-group-item list-group-item-success">
          Group Name: <span class="fw-bold"></span>Family
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <a routerLink="/" class="btn btn-warning">Go Back</a>
    </div>
  </div>
</div>
