<div class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-primary">View Contact</p>
      <p class="fst-italic">
        It is not so much for its beauty that the forest makes a claim upon
        men's hearts, as for that subtle something, that quality of air that
        emanation from old trees, that so wonderfully changes and renews a weary
        spirit.
      </p>
    </div>
  </div>
</div>
<!--View Contact Details-->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img
        src="https://cdn-icons-png.flaticon.com/512/219/219983.png?w=360"
        alt=" user"
        class="contact-img-details"
      />
    </div>
    <div class="col-sm-6"></div>
  </div>
</div>
