<div class="container">
  <div class="row">
    <div class="col">
      <p class="h3">
        Contact Application
        <a class="btn btn-success btn-sm" href="/contacts/add">Add Contact</a>
      </p>
      <p class="fst-italic" mt-5>
        It is not so much for its beauty that the forest makes a claim upon
        men's hearts, as for that subtle something, that quality of air that
        emanation from old trees, that so wonderfully changes and renews a weary
        spirit.
      </p>
      <form>
        <div class="row">
          <div class="col-md-6">
            <input
              type="text"
              class="form-control"
              placeholder="Search contact"
            />
          </div>
          <div class="col-md-6">
            <input type="Submit" class="btn btn-outline-dark" value="search" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--Condition Based loading-->
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<!--Display error message-->
<div *ngIf="!loading && errorMessage">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>

<!-- <pre>{{ contacts | json }}</pre> -->
<!--Card Design-->
<div class="container mt-5" *ngIf="!loading && contacts.length > 0">
  <div class="row">
    <div class="col-md-6" *ngFor="let contact of contacts">
      <div class="card list-group-item-success shadow-lg my-2">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <img [src]="contact.photo" alt="user" class="contact-img" />
            </div>
            <div class="col-sm-6">
              <ul class="list-group align-item-center">
                <li class="list-group-item">
                  Name: <span class="fw-bold"></span>{{ contact.name }}
                </li>
                <li class="list-group-item">
                  Email: <span class="fw-bold"></span>{{ contact.email }}
                </li>
                <li class="list-group-item">
                  Mobile: <span class="fw-bold"></span>{{ contact.mobile }}
                </li>
              </ul>
            </div>
            <div class="col-sm-1 justify-content-center align-item-center">
              <a
                routerLink="/contacts/view/{{ contact.id }}"
                class="btn btn-warning"
                >view</a
              >
              <pre></pre>
              <a
                routerLink="/contacts/edit/{{ contact.id }}"
                class="btn btn-success"
                >edit</a
              >
              <pre></pre>
              <button class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
