/* You can add global styles to this file, and also import other style files */
body{
  background-color: #d0eff0 !important;
}
.contact-img{
  width: 100px;
  border-radius: 50%;
}
.contact-img-details{
  width: 150px;
  border-radius: 50%;
}
