<div class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-primary">Edit Contact</p>
      <p class="fst-italic">
        It is not so much for its beauty that the forest makes a claim upon
        men's hearts, as for that subtle something, that quality of air that
        emanation from old trees, that so wonderfully changes and renews a weary
        spirit.
      </p>
    </div>
  </div>
</div>

<!--Edit Contact Form-->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="name" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Photo url" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Email id" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Mobile No" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Company" />
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Title" />
        </div>
        <div class="mb-2">
          <select class="form-control">
            <option value="">Select a Group</option>
          </select>
        </div>
        <div class="mb-2">
          <input type="submit" class="btn btn-primary" value="update" />
          <a routerLink="/" class="btn btn-warning ms-2">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img
        src="https://cdn-icons-png.flaticon.com/512/219/219983.png?w=360"
        class="contact-img"
        alt=""
      />
    </div>
  </div>
</div>
